@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Hello Santosh Patil... How are you !!.... ...++++++++++++++++


:::::::::::::::::::::::::::::::::::::::::::::::::::</h1>
    
</div>
